<!--=============== REMIXICONS ===============-->
<link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />

<!--==================== ABOUT ====================-->
<section class="about section" id="about">
  <div class="about__container container grid">
    <h2 class="section__title-1">
      <span>About</span>
    </h2>

    <div class="about__perfil">
      <div class="about__image">
        <img src="https://plus.unsplash.com/premium_photo-1677850452987-d3ff550db018?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8aW5kaWFuJTIwY293fGVufDB8fDB8fHww" alt="image" class="about__img">

        <div class="about__shadow"></div>

        <div class="geometric-box"></div>

        <div class="about__box"></div>
      </div>
    </div>

    <div class="about__info">
      <p class="about__description">
        Gaushala in Memphis is part of a non-profit organization dedicated to protecting and improving the lives of cows in our community and beyond.
      </p>

      <ul class="about__list">
        <li class="about__item">
          <b>Some of our activities include:</b> Organize year-round activities aimed at promoting cow protection and kindness to animals
          Facilitate regular tours of Gaushala to enjoy the company of the kind and loving cows/calves
          Teach horse riding, provide a positive environment for sadhana and spiritual growth, and much more
        </li>
      </ul>

      <div class="about__buttons">
        <a  class="button">
          <i class="ri-send-plane-line"></i> Contact Me
        </a>

        <a href="https://www.linkedin.com/" target="_blank" class="button__ghost">
          <i class="ri-linkedin-box-line"></i>
        </a>
      </div>
    </div>
  </div>
</section>